.button {
  text-decoration: none;
  padding: 17px 36px;
  cursor: pointer;
  position: relative;
  text-align: center;
  outline: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  border: none;
  color: var(--Dark);
  min-height: 56px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-family: var(--Manrope);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background-color: var(--Yellow);
    z-index: 0;
  }

  span {
    position: relative;
    z-index: 2;
  }
  svg {
    position: relative;
    z-index: 2;
  }

  &--pink {
    color: var(--White);
    &::before {
      background-color: var(--Pink);
    }
  }

  &--blue {
    color: var(--White);
    &::before {
      background-color: var(--Blue);
    }
  }

  &:hover::before {
    left: -8px;
    top: -8px;
    bottom: -8px;
    right: -8px;
  }

  @media (max-width: 767px) {
    min-height: 50px;
    // padding: 13px 20px;
  }
}
