.button-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  color: var(--White);
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  font-size: 0;
  line-height: 1;
  max-width: initial;
  max-height: initial;
  min-height: initial;
  &::before {
    background: var(--Pink);
  }

  & span,
  & span::after,
  & span::before {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: var(--White);
  }
  & span::after,
  & span::before {
    content: "";
    display: block;
    transition: 0.3s;
  }

  & span::before {
    transform: translateY(-8px);
  }

  & span::after {
    transform: translateY(8px);
  }

  &.isActive span {
    height: 0;
  }

  &.isActive span:before {
    transform: rotate(-45deg);
  }

  &.isActive span:after {
    transform: rotate(45deg);
  }
  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
    padding: 0;
    align-items: center;
    font-size: 0;
    line-height: 1;
    max-width: initial;
    max-height: initial;
    min-height: initial;

  }
}
