.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border: none;
  padding: 0;
  font-size: 0;
  line-height: 1;
  max-width: initial;
  max-height: initial;
  min-height: initial;
  position: relative;
  flex-shrink: 0;
  margin: 0;
  top: initial;
  left: initial;
  right: initial;
  bottom: initial;
  svg {
    position: absolute;
    width: 10px;
    height: 18px;
    pointer-events: none;
    flex-shrink: 0;
  }
  &::after {
    display: none;
  }

  @media (max-width: 767px) {
    width: 50px;
    height: 50px;
  }
}
