.title-group {
  &__title {
    display: block;
    margin: 0;
    margin-bottom: 22px;
    padding-bottom: 30px;
    position: relative;

    color: var(--Dark);
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='58' height='10' fill='none'%3e%3cpath stroke='%23CC006F' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m53 1 4 4m0 0-4 4m4-4H1'/%3e%3c/svg%3e");
      display: block;
      width: 60px;
      height: 10px;
      background-position: top left;
      background-repeat: no-repeat;
    }

  }
  &__text {
    margin: 0;
    display: block;
    color: var(--Mod-1);
    font-size: 16px;
    font-weight: 400;
  }

  @media (max-width: 1200px) {
    &__title {
      font-size: 40px;
    }
  }
  @media (max-width: 767px) {
    &__title {
      font-size: 25px;
      margin-bottom: 16px;
      padding-right: 40px;
    }
  }
}
