.announcement-catalog {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px 32px;
    align-items: center;
    &--mod {
      grid-template-columns: 1fr 2fr;
      align-items: flex-start;
    }
  }
  &__sub-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 32px;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 37px 32px 32px;
    gap: 0 32px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: all 0.3s ease-in-out;
      pointer-events: none;
      background-color: var(--BG);
      z-index: 0;
    }
  }
  &__group {
    position: relative;
    z-index: 2;
  }
  &__name {
    display: block;
    margin: 0;
    margin-bottom: 3px;
    color: var(--Black);
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    max-width: 150px;
  }
  &__price {
    display: block;
    margin: 0;
    color: var(--Dark);
    font-size: 32px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 16px;
    grid-column-start: 1;
    grid-column-end: -1;
    position: relative;
    z-index: 2;
  }
  &__image {
    position: relative;
    z-index: 2;
    width: 200px;
    height: 170px;
    img {
      display: block;
      position: relative;
      top: -50px;
    }
  }
  .button {
    grid-column-start: 1;
    grid-column-end: -1;
    min-height: 48px;
  }
  &__details {
    position: relative;
    z-index: 2;
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--Dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-bottom: 6px;
    span {
      color: var(--Mod-8);
    }
  }

  @media (max-width: 1200px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
    &__grid--mod {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 1023px) {
    &__grid {
      gap: 32px;
    }
    &__name {
      font-size: 14px;
      text-wrap: balance;
      padding-right: 20px;
    }
    &__price {
      font-size: 28px;
    }
    &__image {
      width: 120px;
      height: 105px;
    }
    &__item:first-of-type {
      grid-column-start: 1;
      grid-column-end: -1;
      margin-bottom: 10px;
    }

    &__grid--mod &__item:first-of-type {
      grid-column-start: initial;
      grid-column-end: initial;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 767px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
    &__item:first-of-type {
      grid-column-start: initial;
      grid-column-end: initial;
    }
    &__link {
      padding: 15px 20px;
      gap: 0 16px;
    }
    &__image img {
      top: -30px;
      left: 10px;
    }
    &__item:first-of-type {
      margin-bottom: 0;
    }
    &__price {
      font-size: 28px;
    }
    &__sub-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.announcement-catalog__link:hover {
  &:after {
    left: -8px;
    top: -8px;
    bottom: -8px;
    right: -8px;
    background: var(--White);
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.25);
  }
  .announcement-catalog__icon-line {
    transform: translateX(-7px);
    transition: all 0.3s;
  }
  // .button::before {
  //   left: -8px;
  //   top: -8px;
  //   bottom: -8px;
  //   right: -8px;
  // }
}
