.get-offer {
  background-image: url(../img/get-offer/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  &__container {
    max-width: 688px;
    margin-right: auto;
    margin-left: 0;
  }
  .title-group {
    margin-bottom: 22px;
  }
  @media (max-width: 1200px) {
    padding-top: 625px;
    background-image: url(../img/get-offer/1-1024.jpg);
    background-position: top center;

    &__container {
      max-width: 100%;
    }
  }
  @media (max-width: 1023px) {
    background-image: url(../img/get-offer/1-768.jpg);
  }
  @media (max-width: 767px) {
    padding-top: 605px;
  }
  @media (max-width: 420px) {
    padding-top: 395px;
    background-image: url(../img/get-offer/1-375.jpg);
    background-size: contain;
  }
}
